@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 100%;
    background: #f1f5f9;
}

body {
    width: 100%;
}

.main {
    width:100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 1400px;
}